.container{
    display: flex;
}

@media (hover: hover) {	
	.grid div:hover {
        background-color: rgba(37, 20, 8, 0.4);
    }
}

.grid-user1 {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    /* background-color: #944C00; */
    background-image: url("../assets/soil.png");

}

.grid-user2{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    margin: 20px;
}

.grid div{
    width: 60px;
    height: 60px;
}

.grid-display{
    width: 400px;
    height:400px;
    margin:20px;
    background-color: yellow;
}

.action_button {
	background-color: #fccd66;
	background-image: linear-gradient(#ffe16d, #fccd66);
	box-sizing: border-box;
	border-radius: 15px;
	color: #000000;
	cursor: pointer;
	display: block;
	font-weight: 600;
	margin: 5px;
	padding: 15px 10px;	
	text-align: center;
}

.flower-container{
    width: 40px;
    height: 40px;
    background-color: orange;
    margin:10px;
    display: flex;
}

.plant{
    width: 40px;
    height: 40px;
}

.flower{
    background-color: purple;
}